.header__logo {
    width: 104px;
    padding-bottom: 31.6px;
    padding-left: 27px;
}

@media (min-width: 1024px) {
    .header__logo {
        width: 142px;
        height: 33px;
        padding: 0;
    }
}
