.popup__title {
    margin: 25px 22px 0 22px;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.popup__title_auth {
    text-align: center;
    color: #fff;
    margin-top: 60px;
}

@media (min-width: 880px) {
    .popup__title {
        font-size: 24px;
        line-height: 29px;
        margin: 34px 64px 0 36px;
    }
}
