.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
    margin: 0;
}

@media (min-width: 880px) {
    .footer__copyright {
        line-height: 21.78px;
        font-size: 18px;
    }
}
