.popup__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 75px 22px 0 22px;
}

@media (min-width: 880px) {
    .popup__form {
        margin: 54px 36px 0 36px;
    }
}
