.popup__submit-btn {
    width: 238px;
    height: 46px;
    border-radius: 2px;
    line-height: 17px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    border: none;
    margin: 18px 0 25px 0;
    padding: 0;
    color: #ffffff;
    background-color: #000000;
}

.popup__submit-btn_auth {
    background-color: #ffffff;
    color: #000000;
    margin-top: 230px;
}

.popup__submit-btn:hover {
    opacity: 0.8;
}

@media (min-width: 880px) {
    .popup__submit-btn {
        width: 358px;
        font-size: 18px;
        line-height: 22px;
        margin: 18px 36px 37px 36px;
    }
    .popup__submit-btn_auth {
        margin: 0 auto;
        margin-top: 260px;
    }
}
