.profile__user-name {
    font-weight: 500;
    font-size: 27px;
    line-height: 32.6px;
    max-width: 189px;
    margin: 0 auto;
    text-align: center;
    text-overflow: ellipsis;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

@media (min-width: 880px) {
    .profile__user-name {
        max-width: 294px;
        margin-bottom: 8px;
        font-size: 42px;
        line-height: 48px;
        justify-content: start;
    }
}