.profile__info {
    position: relative;
    gap: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

@media (min-width: 880px) {
    .profile__info {
        max-width: 336px;
        gap: 18px;
        justify-content: start;
    }
}
